.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
div ul.ja-k2filter-wrap li {
  background: none;
  margin-bottom: 20px;
  overflow: visible;
  padding: 0;
}
.ja-k2filter-wrap.vertical-layout,
.ja-k2filter-wrap.horizontal-layout {
  margin: 0;
}
.ja-k2filter-wrap.vertical-layout li {
  float: right;
  width: 100%;
}

ul.ja-k2filter-wrap li input[type=radio],
ul.ja-k2filter-wrap li input[type=checkbox] {
  float: right;
  margin: 0 0 0 5px;
}
ul.ja-k2filter-wrap li label,
ul.ja-k2filter-wrap li label.radio,
ul.ja-k2filter-wrap li label.checkbox {
  line-height: 1.3;
  margin: 0 0 10px 0;
  padding-right: 0;
}
input:focus,
textarea:focus {
  background: #fff;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=checkbox],
label.lb-checkbox {
  background: none;
  border: 0;
  display: inline-block;
  height: auto;
  margin: 0 0 10px;
  padding: 0;
  vertical-align: middle;
}

input[type=radio],
label.radiobtn {
  background: none;
  border: 0;
  display: inline-block;
  margin: 0 0 10px;
  padding: 0;
  vertical-align: middle;
}
label.lb-checkbox {
  margin-left: 10px;
  min-height: 0;
}
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ja-k2filter-wrap select,
.ja-k2filter-wrap textarea,
.ja-k2filter-wrap input[type="text"],
.ja-k2filter-wrap input[type="password"],
.ja-k2filter-wrap input[type="datetime"],
.ja-k2filter-wrap input[type="datetime-local"],
.ja-k2filter-wrap input[type="date"],
.ja-k2filter-wrap input[type="month"],
.ja-k2filter-wrap input[type="time"],
.ja-k2filter-wrap input[type="week"],
.ja-k2filter-wrap input[type="number"],
.ja-k2filter-wrap input[type="email"],
.ja-k2filter-wrap input[type="url"],
.ja-k2filter-wrap input[type="search"],
.ja-k2filter-wrap input[type="tel"],
.ja-k2filter-wrap input[type="color"],
.ja-k2filter-wrap .inputbox {
  width: 100%;
}
.ja-k2filter-wrap input.date {
  min-width: 10px;
}
.ja-k2filter-wrap .chzn-container {
  width: 100% !important;
}

ul.ja-k2filter-wrap li p {
  display: block;
  margin: 0;
  position: relative;
  line-height: 1;
}
ul.ja-k2filter-wrap li p.left {
  float: right;
}
ul.ja-k2filter-wrap li p img {
  display: inline !important;
}
ul.ja-k2filter-wrap li p input.date {
  margin-left: 5px;
  min-width: 0;
  vertical-align: middle;
}

.ja-k2filter-wrap .ja-magic-select {
  background: #fdfbe4;
  border-radius: 2px;
  border: 1px solid #cdc4a8;
  display: none;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
  width: 90%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.ja-k2filter-wrap .ja-magic-select ul {
  margin: 0;
  overflow: hidden;
}
.ja-k2filter-wrap .ja-magic-select .arrow {
  background: url(../../../images/k2filter/arrow.png) no-repeat right top;
  display: block;
  position: absolute;
  top: -12px;
  right: 10px;
  width: 14px;
  height: 12px;
}
.ja-k2filter-wrap .ja-magic-select .btn-close {
  background: url(../../../images/k2filter/btn-close.png) no-repeat center center #cccccc;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  height: 12px;
  position: absolute;
  left: 8px;
  top: 8px;
  text-indent: -999em;
  width: 12px;
}
.ja-k2filter-wrap .ja-magic-select .btn-close:hover {
  background-color: #690;
  border-color: #690;
  cursor: pointer;
}
.ja-k2filter-wrap .ja-magic-select ul li {
  background: url(../../../images/k2filter/icon-none.png) no-repeat 100% 0;
  color: #666;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding-right: 20px;
  text-shadow: 1px 1px 0 #fff;
}
ul.ja-k2filter-wrap li.magic-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.ja-k2filter-wrap .ja-magic-select ul li:hover {
  cursor: pointer;
  color: #690;
}
.ja-k2filter-wrap .ja-magic-select li.selected {
  background: url(../../../images/k2filter/icon-check.png) no-repeat 100% 0;
  color: #690;
}

div ul.horizontal-layout li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: right;
  position: relative;
}
div ul.horizontal-layout li.fssorts {
  margin-left: 10px;
}
ul.horizontal-layout li input.btn {
  float: right !important;
  min-width: 100px;
}
ul.horizontal-layout li:last-child,
ul.horizontal-layout li.last-item {
  width: 100%;
}
ul.ja-k2filter-wrap {
  display: block;
  padding: 0 3px !important;
  list-style: none;
}
ul.ja-k2filter-wrap div.ja-magic-select ul li {
  background-position: 100% 0 !important;
  float: none;
  padding-right: 20px !important;
}
ul.ja-k2filter-wrap div.ja-magic-select ul li.disabled {
  color: #ccc;
  background-position: 100% 0 !important;
  float: none;
  padding-right: 20px !important;
}
ul.ja-k2filter-wrap .ja-magic-select-container span {
  background: #FFFFFF;
  border: 1px solid #E1E1E8;
  border-radius: 3px;
  color: #666;
  display: block;
  float: right;
  font-size: 11px;
  margin: 2px 0 2px 4px;
  padding: 0px 5px 0px 20px;
  position: relative;
  white-space: nowrap;
}
ul.ja-k2filter-wrap .ja-magic-select-container span:hover {
  border-color: #999;
}
ul.ja-k2filter-wrap .ja-magic-select-container span span.remove {
  background: url(../../../images/k2filter/remove-gray.png) no-repeat left center;
  border: 0;
  cursor: pointer;
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
}
ul.ja-k2filter-wrap .ja-magic-select-container span.remove:hover {
  background-image: url(../../../images/k2filter/remove.png);
}
ul.ja-k2filter-wrap label button.select {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #690;
  font-size: 11px;
  display: inline-block !important;
  margin-right: 5px;
  padding: 3px 5px;
  overflow: hidden;
  vertical-align: middle;
}
ul.ja-k2filter-wrap label button.select:hover,
ul.ja-k2filter-wrap label button.select:focus,
ul.ja-k2filter-wrap label button.select:active {
  background: #6d9f09;
  border-color: #690;
  color: #fff;
  text-decoration: none;
}
ul.ja-k2filter-wrap label button.select.opened {
  background: #fff;
  border-color: #ddd;
  color: #ccc;
}

ul.vertical-layout li {
  display: block;
  clear: both;
  position: relative;
}
ul.vertical-layout li label.group-label {
  position: relative;
  *zoom: 1;
}
ul.vertical-layout li label.group-label:before,
ul.vertical-layout li label.group-label:after {
  content: " ";
  display: table;
}
ul.vertical-layout li label.group-label:after {
  clear: both;
}

#jak2-loading {
  background: #01b888;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  height: 50px;
  font-weight: bold;
  right: 50%;
  margin-right: -200px;
  padding: 10px 0;
  position: fixed;
  top: 50px;
  text-align: center;
  width: 400px;
  z-index: 999;
}

.ja-k2filter-wrap label {
  display: block;
  font-size: 13px;
  line-height: 1;
}
.ja-k2filter-wrap label.group-label {
  font-weight: bold;
}
.ja-k2filter-wrap select.multiple {
  height: auto;
}
.ja-k2filter-wrap label .presenter {
  float: left;
  font-weight: normal;
}
.ja-k2filter-wrap label .itemRatingList {
  background: url(../../../images/system/transparent_star.png) repeat-x right top;
  display: inline-block;
  position: relative;
  height: 25px;
  float: none;
  margin: 0;
  vertical-align: middle;
  width: 125px;
  float: left;
}
.ja-k2filter-wrap .itemRatingList span.active,
.ja-k2filter-wrap .itemRatingList .itemCurrentRating {
  background: url(../../../images/system/transparent_star.png) repeat-x right center;
  height: 25px;
}
.ja-k2filter-wrap .itemCurrentRatingNote {
  font-size: 90%;
  font-weight: normal;
  display: none;
}
.ja-k2filter-wrap .itemRatingList li {
  display: inline;
  background: none;
  padding: 0;
  margin-bottom: 0 !important;
}
.ja-k2filter-wrap .itemRatingList span.srange,
.ja-k2filter-wrap .itemRatingList .itemCurrentRating {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -1000px;
  height: 25px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.ja-k2filter-wrap .itemRatingList span.active {
  background-position: right bottom;
}
.ja-k2filter-wrap .itemRatingList span.one-star {
  width: 20%;
  z-index: 6;
}
.ja-k2filter-wrap .itemRatingList span.two-stars {
  width: 40%;
  z-index: 5;
}
.ja-k2filter-wrap .itemRatingList span.three-stars {
  width: 60%;
  z-index: 4;
}
.ja-k2filter-wrap .itemRatingList span.four-stars {
  width: 80%;
  z-index: 3;
}
.ja-k2filter-wrap .itemRatingList span.five-stars {
  width: 100%;
  z-index: 2;
}

ul.autocompleter-choices {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #EEEEEE;
  background-color: white;
  border-left-color: #DDDDDD;
  border-bottom-color: #DDDDDD;
  text-align: right;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  z-index: 50;
}
ul.autocompleter-choices li {
  background: none;
  position: relative;
  padding: 0.1em 1em 0.1em 1.5em;
  cursor: pointer;
  font-weight: normal;
  font-size: 1em;
}
ul.autocompleter-choices li:hover,
ul.autocompleter-choices li.autocompleter-selected {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}
ul.autocompleter-choices span.autocompleter-queried {
  font-weight: bold;
}
ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
  color: #9FCFFF;
}

.ja-k2filter-wrap .accordion h4 {
  margin: 10px 0 0 0;
}
.ja-k2filter-wrap .ui-icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}
.ja-k2filter-wrap .ui-icon {
  left: 0.5em;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}
.ja-k2filter-wrap h4 .expanded {
  background: url("../../../jquery/images/arrow_expanded.png");
}
.ja-k2filter-wrap h4 .collapsed {
  background: url("../../../jquery/images/arrow_collapsed.png");
}
.jak2shareurl a {
  background: url(../../../images/k2filter/link.png) no-repeat scroll 5px center #f5f5f5;
  border: 1px solid #EEE;
  color: #444444;
  display: block;
  margin: 5px 0 0 0;
  padding: 1px 25px 1px 0;
  font-size: 11px;
}
.date-error {
  border: 1px solid #f00 !important;
}
.ja-k2-hint {
  color: #666;
  font-size: 11px;
}
.ja-k2-hint .ja-search-operator {
  color: #BB3A00;
  font-weight: bold;
}
.jak2-tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 1;
  filter: alpha(opacity=1);
  max-width: 550px;
  text-align: right;
  border: 1px solid #FFBB33;
  background: #FCECCF;
}
.jak2-tooltip .tip-title {
  border-bottom: 1px solid #FFBB33;
  padding: 5px 10px;
  font-weight: normal;
}
.jak2-tooltip .tip-text {
  padding: 5px 10px;
}
.jak2-tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.jak2-tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.jak2-tooltip.right {
  margin-right: 3px;
  padding: 0 5px;
}
.jak2-tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.jak2-tooltip.left {
  margin-right: -3px;
  padding: 0 5px;
}
.jak2-tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jak2-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.jak2-tooltip.top .jak2-tooltip-arrow {
  bottom: 0;
  right: 50%;
  margin-right: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.jak2-tooltip.right .jak2-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.jak2-tooltip.left .jak2-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.jak2-tooltip.bottom .jak2-tooltip-arrow {
  top: 0;
  right: 50%;
  margin-right: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

body.dragging,
body.dragging * {
  cursor: move !important;
}
ul.ja-k2filter-wrap li.fssorts {
  margin: 0 0 10px 0;
  border: 1px dashed #ccc;
  border-radius: 5px;
}
ul.ja-k2filter-wrap li.fssorts .title h6 {
  background-color: #e5e5e5;
  padding: 10px 35px 10px 15px;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
ul.ja-k2filter-wrap li.fssorts .title h6:hover {
  background-color: #ddd;
}
ul.ja-k2filter-wrap li.fssorts .title h6::before {
  width: 16px;
  height: 16px;
  content: "";
  background: url("../../../../assets/css/drag.png") no-repeat;
  position: absolute;
  top: 9px;
  right: 10px;
}
ul.ja-k2filter-wrap li.fssorts .title:hover {
  cursor: ns-resize;
}
ul.ja-k2filter-wrap li.fssorts .group-controls {
  background-color: #eee;
  padding: 10px;
}
ul.ja-k2filter-wrap li.fssorts .controls {
  padding: 5px;
}
ul.ja-k2filter-wrap li.fssorts .controls p {
  padding-right: 18px;
  font-size: 12px;
}
ul.ja-k2filter-wrap li.fssorts .controls input {
  position: absolute;
  z-index: 9999;
}
ul.ja-k2filter-wrap li.fssorts .controls .ascending::after,
ul.ja-k2filter-wrap li.fssorts .controls .decrease::after {
  content: "";
  width: 5px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 0;
}
ul.ja-k2filter-wrap li.fssorts .controls .ascending::after {
  background: url("../../../../assets/css/arrow-controls-u.png");
}
ul.ja-k2filter-wrap li.fssorts .controls .decrease::after {
  background: url("../../../../assets/css/arrow-controls-d.png");
}
ul.ja-k2filter-wrap li.fssorts .controls button.delete {
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  margin: 5px;
  padding: 3px 8px;
  font-size: 12px;
}
ul.ja-k2filter-wrap li.fssorts.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ul.ja-k2filter-wrap li.fssorts.dragged:hover {
  cursor: ns-resize;
}
ul.ja-k2filter-wrap li.fssorts.placeholder {
  position: relative;
  
}
ul.ja-k2filter-wrap li.fssorts.placeholder:before {
  position: absolute;
  
}