.acm-testimonials.style-dark {
  background-color: #444444;
}
.acm-testimonials.style-dark .testimonial-text {
  color: #ffffff;
}
.acm-testimonials.style-dark .carousel-control .fa {
  border-color: #ffffff;
  color: #ffffff;
}
.acm-testimonials.default {
  text-align: center !important;
}
.acm-testimonials .carousel-inner .item {
  padding: 25px;
}
.acm-testimonials .fa {
  color: #333333;
  font-size: 36px;
  margin-bottom: 25px;
}
.acm-testimonials .testimonial-img {
  margin: -25px -25px 0;
}
.acm-testimonials .testimonial-img img {
  min-height: 240px;
}
.acm-testimonials .testimonial-text {
  color: #333333;
  margin-bottom: 0;
}
.acm-testimonials .testimonial-text::before {
  content: '"';
}
.acm-testimonials .testimonial-text::after {
  content: '"';
}
.acm-testimonials .author-info {
  color: #999999;
  margin-top: 25px;
}
.acm-testimonials .author-image {
  margin-top: -25px;
  margin-bottom: 25px;
  display: block;
}
.acm-testimonials .author-image img {
  border: 1px solid transparent;
  border-radius: 50%;
}
.acm-testimonials .carousel-control {
  background: none;
  width: auto;
  bottom: auto;
  top: 50%;
  margin-top: -16px;
  margin-right: 30px;
  text-shadow: none;
}
.acm-testimonials .carousel-control.left {
  margin-left: 30px;
  margin-right: 0;
}
.acm-testimonials .carousel-control .fa {
  margin-bottom: 0;
  border: 2px solid #333333;
  color: #333333;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  display: block;
  font-size: 14px;
}
.ie8 .acm-testimonials.style-6 div.carousel .carousel-inner .item {
  display: none;
}
.ie8 .acm-testimonials.style-6 div.carousel .carousel-inner .item.active {
  display: block;
}