.acm-features .features-item:before,
.acm-features .features-item:after {
  content: " ";
  display: table;
}
.acm-features .features-item:after {
  clear: both;
}
.acm-features img {
  max-width: 100%;
}
.acm-features .features-item-inner h4 {
  color: #111111;
  margin-top: o;
}
.acm-features .owl-carousel .owl-nav > div {
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 34px;
  padding: 0;
  height: 36px;
  width: 36px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.acm-features .owl-carousel .owl-nav > div + div {
  margin-left: 12px;
}
.acm-features .owl-carousel .owl-nav > div .fa {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
.acm-features .owl-carousel .owl-nav > div .fa.fa-angle-left {
  text-indent: -1px;
}
.acm-features .owl-carousel .owl-nav > div .fa.fa-angle-right {
  text-indent: 3px;
}
.acm-features .owl-carousel .owl-nav > div:hover {
  background: #ffffff;
  border-color: #1eb848;
  color: #1eb848;
}
.acm-features .owl-carousel .owl-nav > div:hover .fa {
  color: #1eb848;
}
.acm-features.style-1 {
  background: #f2f4f8;
  padding-bottom: 72px;
}
@media (max-width: 991px) {
  .acm-features.style-1 {
    padding-bottom: 24px;
  }
}
.acm-features.style-1 img {
  width: 100%;
}
.acm-features.style-1 .acm-features-title {
  color: #111111;
  font-weight: 400;
  line-height: 36px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .acm-features.style-1 .acm-features-title {
    font-size: 22px;
  }
}
.acm-features.style-1 .features-content {
  background: #ffffff;
  padding: 24px;
}
.acm-features.style-1 .features-content h3 {
  margin-top: 0;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .acm-features.style-1 .owl-wrapper-outer {
    right: -12px;
  }
}
.acm-features.style-1 .owl-carousel {
  padding: 0;
  margin-top: 24px;
}
@media (min-width: 992px) {
  .acm-features.style-1 .owl-carousel {
    margin-top: -24px;
  }
}
.acm-features.style-1 .owl-item {
  padding: 24px 12px 24px 12px;
}
@media (max-width: 991px) {
  .acm-features.style-1 .owl-item {
    padding: 0 12px;
  }
}
.acm-features.style-1 .features-item-inner {
  background: #ffffff;
  border-radius: 3px;
  padding: 24px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.acm-features.style-1 .features-item-inner:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.acm-features.style-1 .features-item-inner:hover h4 {
  color: #1eb848;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.acm-features.style-1 .features-item-inner .features-img {
  border-radius: 3px 3px 0 0;
  margin: -25px -25px 24px -25px;
  overflow: hidden;
}
.acm-features.style-1 .features-item-inner .feature-action {
  border-top: 1px solid #e6eaf0;
  margin: 48px -24px -24px -24px;
  padding: 24px;
}
.acm-features.style-1 .owl-nav {
  bottom: 0;
  left: -34.3333%;
  position: absolute;
  margin-bottom: 24px;
}

@media (max-width: 991px) {
  .acm-features.style-2 {
    min-height: 0 !important;
  }
}
.acm-features.style-2 .row {
  margin: 0;
}
.acm-features.style-2 .row > div {
  padding: 0;
}
.acm-features.style-2 .row > div.features-text {
  padding: 36px 72px 72px 36px;
}
@media (max-width: 1599px) {
  .acm-features.style-2 .row > div.features-text {
    padding: 24px 36px 72px 36px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .acm-features.style-2 .row > div.features-text > p {
    display: none;
  }
}
@media (max-width: 767px) {
  .acm-features.style-2 .row > div.features-text {
    padding: 12px;
  }
}
.acm-features.style-2 .features-img {
  overflow: hidden;
}
.acm-features.style-2 .features-img img {
  height: 100%;
  width: auto;
  max-width: none;
}
@media (max-width: 991px) {
  .acm-features.style-2 .features-img img {
    width: 100%;
  }
}
.acm-features.style-2 .owl-nav {
  padding: 0;
}
.acm-features.style-2 .owl-nav.owl-nav {
  left: 36px;
  bottom: 36px;
  position: absolute;
  margin: 0;
}
.acm-features.style-2 .feature-info {
  background: #1eb848;
  color: #ffffff;
}
.acm-features.style-2 .feature-info .info-text {
  padding: 36px 72px 36px 36px;
}
@media (max-width: 1599px) {
  .acm-features.style-2 .feature-info .info-text {
    padding: 24px 36px 36px 36px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .acm-features.style-2 .feature-info .info-text > p {
    display: none;
  }
}
@media (max-width: 767px) {
  .acm-features.style-2 .feature-info .info-text {
    padding: 12px;
  }
}
.acm-features.style-3 {
  text-align: center;
  padding: 0;
}
.acm-features.style-3 .features-description {
  margin-left: auto;
  margin-right: auto;
}
.acm-features.style-3 .features-content {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .acm-features.style-3 .features-content {
    width: 65%;
  }
  .acm-features.style-3 .features-content.features-content-right,
  .acm-features.style-3 .features-content.features-content-left {
    width: 100%;
  }
}
.acm-features.style-3 .features-content.features-content-left {
  text-align: right;
}
@media (min-width: 992px) {
  .acm-features.style-3 .features-content.features-content-left .features-item {
    padding-left: 192px;
  }
}
.acm-features.style-3 .features-content.features-content-left .features-image {
  margin-bottom: 0;
}
.acm-features.style-3 .features-content.features-content-right {
  text-align: left;
}
@media (min-width: 992px) {
  .acm-features.style-3 .features-content.features-content-right .features-item {
    padding-right: 192px;
  }
}
.acm-features.style-3 .features-content.features-content-right .features-image {
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .acm-features.style-3 .features-item {
    text-align: center;
    margin-bottom: 48px;
  }
}
.acm-features.style-3 .features-item h3 {
  color: #111111;
  font-weight: 400;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .acm-features.style-3 .features-item h3 {
    font-size: 22px;
  }
}
.acm-features.style-3 .features-item h3 a {
  color: #111111;
}
.acm-features.style-3 .features-item h3 a:hover,
.acm-features.style-3 .features-item h3 a:focus,
.acm-features.style-3 .features-item h3 a:active {
  color: #1eb848;
  text-decoration: none;
}
.acm-features.style-3 .features-item p {
  margin-bottom: 24px;
}
.acm-features.style-3 .features-image {
  margin-bottom: 48px;
}
.acm-features.style-3 .features-image > img {
  max-width: 100%;
}